PORT=3000
NODE_ENV=development
APP_NAME=TiopTiop
APP_URL=http://localhost:3000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=tioptiop
DB_CONNECTION_LIMIT=10

SESSION_NAME=tioptiop.sid
SESSION_SECRET=change-this-session-secret
SESSION_MAX_AGE_MS=604800000

UPLOAD_MAX_MB=12

# ==========================================================
# PAYMENTS
# ==========================================================

PAYMENT_MODE=sandbox


# ==========================================================
# MTN MOMO - SANDBOX
# Ne jamais mettre de vraies clés dans .env.example
# ==========================================================

MTN_MOMO_ENVIRONMENT=sandbox
MTN_MOMO_BASE_URL=https://sandbox.momodeveloper.mtn.com
MTN_MOMO_SUBSCRIPTION_KEY=f10909e2b93744b49bd5fa1ddc169e16
MTN_MOMO_API_USER=7ea5fddf-8884-4cae-960d-900b14c08a1d
MTN_MOMO_API_KEY=cf11af1aabda45e9b67317a937999b5b
MTN_MOMO_TARGET_ENVIRONMENT=sandbox
MTN_MOMO_CALLBACK_URL=https://gourmet-briefing-organizing-obtained.trycloudflare.com/api/v1/payments/mtn-momo/callback
MTN_MOMO_SANDBOX_CURRENCY=EUR
MTN_MOMO_SANDBOX_AMOUNT=100

# ==========================================================
# CARD PROVIDER
# Provider réel choisi plus tard
# ==========================================================

CARD_PAYMENT_ENVIRONMENT=sandbox
CARD_PAYMENT_PROVIDER=
CARD_PAYMENT_PUBLIC_KEY=
CARD_PAYMENT_SECRET_KEY=
CARD_PAYMENT_WEBHOOK_SECRET=
